{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://gen.pollinations.ai"
    }
  ],
  "info": {
    "title": "Pollinations API",
    "description": "## Introduction\n\nGenerate text, images, video, and audio with a single API. OpenAI-compatible — use any OpenAI SDK by changing the base URL.\n\n**Base URL:** `https://gen.pollinations.ai`\n\n**Get your API key:** [enter.pollinations.ai](https://enter.pollinations.ai)\n\n## Overview\n\n| Capability | Endpoint | Format |\n|---|---|---|\n| ✍️ **Text Generation** | `POST /v1/chat/completions` | OpenAI-compatible |\n| ✍️ **Simple Text** | `GET /text/{prompt}` | Plain text |\n| 🖼️ **Image Generation** | `GET /image/{prompt}` | JPEG / PNG |\n| 🎬 **Video Generation** | `GET /video/{prompt}` | MP4 |\n| 🔊 **Text-to-Speech** | `GET /audio/{text}` | MP3 |\n| 🔊 **Music Generation** | `GET /audio/{text}` | MP3 |\n| 🔊 **Transcription** | `POST /v1/audio/transcriptions` | JSON |\n| 🤖 **Model Discovery** | `GET /v1/models` | JSON |\n\n## Quick Start\n\n### Generate an Image\n\nPaste this URL in your browser — no code needed:\n\n```\nhttps://gen.pollinations.ai/image/a%20cat%20in%20space\n```\n\nOr use it directly in HTML:\n\n```html\n<img src=\"https://gen.pollinations.ai/image/a%20cat%20in%20space\" />\n```\n\n### Generate Text (OpenAI-compatible)\n\n```bash\ncurl https://gen.pollinations.ai/v1/chat/completions \\\n  -H \"Authorization: Bearer YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"model\": \"openai\", \"messages\": [{\"role\": \"user\", \"content\": \"Hello!\"}]}'\n```\n\n### Generate Speech\n\n```bash\ncurl \"https://gen.pollinations.ai/audio/Hello%20world?voice=nova\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\" -o speech.mp3\n```\n\n## 🖥️ CLI\n\n`@pollinations_ai/cli` wraps this API for terminals and agents. Structured `--json` output, deterministic exit codes, friendly 402 balance hints, stdin piping.\n\n```bash\nnpm install -g @pollinations_ai/cli\npolli auth login\npolli gen image \"a cat in space\" --model flux --output cat.png\npolli gen text \"summarize this\" < notes.md\npolli models --type image\n```\n\nSource: [github.com/pollinations/pollinations/tree/main/packages/polli-cli](https://github.com/pollinations/pollinations/tree/main/packages/polli-cli)\n\n## 🔐 Authentication\n\nAll generation requests require an API key from [enter.pollinations.ai](https://enter.pollinations.ai). Model listing endpoints work without authentication.\n\n**Two key types:**\n\n| Type | Prefix | Use case | Rate limits |\n|------|--------|----------|-------------|\n| Secret | `sk_` | Server-side apps | None |\n| Publishable | `pk_` | Client-side apps (beta) | 1 pollen/IP/hour |\n\n**How to authenticate:**\n\n```bash\n# Option 1: Authorization header (recommended)\ncurl -H \"Authorization: Bearer YOUR_API_KEY\" ...\n\n# Option 2: Query parameter\ncurl \"https://gen.pollinations.ai/text/hello?key=YOUR_API_KEY\"\n```\n\n> **Warning:** Never expose secret keys (`sk_`) in client-side code. Use publishable keys (`pk_`) for frontend apps.\n\n## ❌ Errors\n\nAll errors return JSON with a consistent format:\n\n```json\n{\n  \"status\": 400,\n  \"success\": false,\n  \"error\": {\n    \"code\": \"BAD_REQUEST\",\n    \"message\": \"Description of what went wrong\"\n  }\n}\n```\n\n| Status | Meaning |\n|--------|---------|\n| `400` | Invalid parameters or malformed request |\n| `401` | Missing or invalid API key |\n| `402` | Insufficient pollen balance |\n| `403` | API key lacks required permission |\n| `500` | Internal server error |",
    "version": "0.3.0"
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "API key from [enter.pollinations.ai](https://enter.pollinations.ai)"
      }
    },
    "schemas": {
      "ErrorDetails": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "upstreamStatus": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "upstreamHost": {
            "type": "string"
          },
          "upstreamBody": {
            "type": "string"
          }
        },
        "required": [
          "name"
        ]
      },
      "CacheControl": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "ephemeral"
            ]
          }
        },
        "required": [
          "type"
        ]
      },
      "ContentFilterSeverity": {
        "type": "string",
        "enum": [
          "safe",
          "low",
          "medium",
          "high"
        ]
      },
      "ContentFilterResult": {
        "type": "object",
        "properties": {
          "hate": {
            "type": "object",
            "properties": {
              "filtered": {
                "type": "boolean"
              },
              "severity": {
                "$ref": "#/components/schemas/ContentFilterSeverity"
              }
            },
            "required": [
              "filtered",
              "severity"
            ]
          },
          "self_harm": {
            "type": "object",
            "properties": {
              "filtered": {
                "type": "boolean"
              },
              "severity": {
                "$ref": "#/components/schemas/ContentFilterSeverity"
              }
            },
            "required": [
              "filtered",
              "severity"
            ]
          },
          "sexual": {
            "type": "object",
            "properties": {
              "filtered": {
                "type": "boolean"
              },
              "severity": {
                "$ref": "#/components/schemas/ContentFilterSeverity"
              }
            },
            "required": [
              "filtered",
              "severity"
            ]
          },
          "violence": {
            "type": "object",
            "properties": {
              "filtered": {
                "type": "boolean"
              },
              "severity": {
                "$ref": "#/components/schemas/ContentFilterSeverity"
              }
            },
            "required": [
              "filtered",
              "severity"
            ]
          },
          "jailbreak": {
            "type": "object",
            "properties": {
              "filtered": {
                "type": "boolean"
              },
              "detected": {
                "type": "boolean"
              }
            },
            "required": [
              "filtered",
              "detected"
            ]
          },
          "protected_material_text": {
            "type": "object",
            "properties": {
              "filtered": {
                "type": "boolean"
              },
              "detected": {
                "type": "boolean"
              }
            },
            "required": [
              "filtered",
              "detected"
            ]
          },
          "protected_material_code": {
            "type": "object",
            "properties": {
              "filtered": {
                "type": "boolean"
              },
              "detected": {
                "type": "boolean"
              }
            },
            "required": [
              "filtered",
              "detected"
            ]
          }
        }
      },
      "CompletionUsage": {
        "type": "object",
        "properties": {
          "completion_tokens": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "completion_tokens_details": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "accepted_prediction_tokens": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  },
                  "audio_tokens": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  },
                  "reasoning_tokens": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  },
                  "rejected_prediction_tokens": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  }
                }
              },
              {
                "type": "null"
              }
            ]
          },
          "prompt_tokens": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "prompt_tokens_details": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "audio_tokens": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  },
                  "cached_tokens": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  }
                }
              },
              {
                "type": "null"
              }
            ]
          },
          "total_tokens": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "completion_tokens",
          "prompt_tokens",
          "total_tokens"
        ]
      },
      "ValidationErrorDetails": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "formErrors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "fieldErrors": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "name",
          "formErrors",
          "fieldErrors"
        ]
      },
      "MessageContentPart": {
        "anyOf": [
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "text"
              },
              "text": {
                "type": "string"
              },
              "cache_control": {
                "$ref": "#/components/schemas/CacheControl"
              }
            },
            "required": [
              "type",
              "text"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "image_url"
              },
              "image_url": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "detail": {
                    "type": "string",
                    "enum": [
                      "auto",
                      "low",
                      "high"
                    ]
                  },
                  "mime_type": {
                    "type": "string"
                  }
                },
                "required": [
                  "url"
                ]
              }
            },
            "required": [
              "type",
              "image_url"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "video_url"
              },
              "video_url": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "mime_type": {
                    "type": "string"
                  }
                },
                "required": [
                  "url"
                ]
              }
            },
            "required": [
              "type",
              "video_url"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "input_audio"
              },
              "input_audio": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "string"
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "wav",
                      "mp3",
                      "flac",
                      "opus",
                      "pcm16"
                    ]
                  }
                },
                "required": [
                  "data",
                  "format"
                ]
              },
              "cache_control": {
                "$ref": "#/components/schemas/CacheControl"
              }
            },
            "required": [
              "type",
              "input_audio"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "file"
              },
              "file": {
                "type": "object",
                "properties": {
                  "file_data": {
                    "type": "string"
                  },
                  "file_id": {
                    "type": "string"
                  },
                  "file_name": {
                    "type": "string"
                  },
                  "file_url": {
                    "type": "string"
                  },
                  "mime_type": {
                    "type": "string"
                  }
                }
              },
              "cache_control": {
                "$ref": "#/components/schemas/CacheControl"
              }
            },
            "required": [
              "type",
              "file"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              }
            },
            "required": [
              "type"
            ],
            "additionalProperties": false
          }
        ]
      },
      "CreateImageResponse": {
        "type": "object",
        "properties": {
          "created": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                },
                "b64_json": {
                  "type": "string"
                },
                "revised_prompt": {
                  "type": "string"
                }
              }
            }
          }
        },
        "required": [
          "created",
          "data"
        ]
      },
      "CreateImageRequest": {
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 32000,
            "description": "A text description of the desired image(s)"
          },
          "model": {
            "default": "flux",
            "description": "The model to use for image generation",
            "type": "string"
          },
          "n": {
            "default": 1,
            "description": "Number of images to generate (currently max 1)",
            "type": "integer",
            "minimum": 1,
            "maximum": 1
          },
          "size": {
            "default": "1024x1024",
            "description": "Image size as WIDTHxHEIGHT (e.g., 1024x1024, 512x512)",
            "type": "string"
          },
          "quality": {
            "default": "medium",
            "description": "Image quality. OpenAI 'standard'/'hd' mapped to Pollinations equivalents",
            "type": "string",
            "enum": [
              "standard",
              "hd",
              "low",
              "medium",
              "high"
            ]
          },
          "response_format": {
            "default": "b64_json",
            "description": "Return format. \"url\" returns a pollinations.ai URL, \"b64_json\" returns base64-encoded image data",
            "type": "string",
            "enum": [
              "url",
              "b64_json"
            ]
          },
          "user": {
            "description": "End-user identifier for abuse tracking",
            "type": "string"
          },
          "image": {
            "description": "Reference image URL(s) for image-to-image generation (Pollinations extension)",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          }
        },
        "required": [
          "prompt"
        ],
        "additionalProperties": false
      },
      "CreateSpeechRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string"
          },
          "input": {
            "type": "string",
            "minLength": 1,
            "maxLength": 4096,
            "description": "The text to generate audio for. Maximum 4096 characters.",
            "example": "Hello, welcome to Pollinations!"
          },
          "voice": {
            "default": "alloy",
            "description": "The voice to use. Can be any preset name (alloy, echo, fable, onyx, nova, shimmer, ash, ballad, coral, sage, verse, rachel, domi, bella, elli, charlotte, dorothy, sarah, emily, lily, matilda, adam, antoni, arnold, josh, sam, daniel, charlie, james, fin, callum, liam, george, brian, bill) OR a custom ElevenLabs voice ID (UUID from your dashboard).",
            "example": "rachel",
            "type": "string"
          },
          "response_format": {
            "default": "mp3",
            "description": "The audio format for the output.",
            "example": "mp3",
            "type": "string",
            "enum": [
              "mp3",
              "opus",
              "aac",
              "flac",
              "wav",
              "pcm"
            ]
          },
          "speed": {
            "default": 1,
            "description": "The speed of the generated audio. 0.25 to 4.0, default 1.0.",
            "example": 1,
            "type": "number",
            "minimum": 0.25,
            "maximum": 4
          },
          "duration": {
            "description": "Music duration in seconds, 3-300 (elevenmusic/acestep)",
            "example": 30,
            "type": "number",
            "minimum": 3,
            "maximum": 300
          },
          "instrumental": {
            "description": "If true, guarantees instrumental output (elevenmusic only)",
            "example": false,
            "type": "boolean"
          },
          "seed": {
            "description": "Seed for deterministic output. Same seed + params = best-effort return of the same cached result. Omit for random.",
            "example": 42,
            "type": "integer",
            "minimum": 0,
            "maximum": 4294967295
          },
          "style": {
            "description": "Style/genre tags for music generation (acestep only). If omitted, style is auto-detected from the input text.",
            "example": "brazilian berimbau instrumental",
            "type": "string"
          },
          "instruct": {
            "description": "Emotion/style instruction (qwen-tts-instruct only). e.g. 'excited and cheerful'.",
            "example": "speak softly and warmly",
            "type": "string"
          }
        },
        "required": [
          "input"
        ]
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "✍️ Text Generation",
      "description": "Generate text responses using AI models. Fully compatible with the [OpenAI Chat Completions API](https://platform.openai.com/docs/api-reference/chat) — use any OpenAI SDK by changing the base URL.\n\n| Endpoint | Best for |\n|----------|----------|\n| `POST /v1/chat/completions` | Full OpenAI compatibility — streaming, tools, vision, structured outputs |\n| `GET /text/{prompt}` | Quick prototyping — simple GET, returns plain text |\n\n**Capabilities vary by model:** streaming, function calling, vision, structured JSON, reasoning, web search. See [`/text/models`](https://gen.pollinations.ai/text/models) for per-model details.",
      "x-scalar-order": [
        "pollinations-api/tag/️-text-generation/POST/v1/chat/completions",
        "pollinations-api/tag/️-text-generation/GET/text/{prompt}"
      ]
    },
    {
      "name": "🖼️ Image Generation",
      "description": "Generate images from text prompts via a simple GET request. Returns JPEG or PNG.\n\n**Quick start** — paste in your browser, no code needed:\n\n```\nhttps://gen.pollinations.ai/image/a%20cat%20in%20space?model=flux\n```\n\n**Available models:** kontext, nanobanana, nanobanana-2, nanobanana-pro, seedream5, seedream, seedream-pro, gptimage, gptimage-large, gpt-image-2, flux, zimage, wan-image, wan-image-pro, qwen-image, grok-imagine, grok-imagine-pro, klein, p-image, p-image-edit, nova-canvas\n\n**Key parameters:** `model`, `width`, `height`, `seed`, `enhance`, `negative_prompt`, `image` (for editing), `quality`, `transparent`\n\n**OpenAI SDK:** Also available via `POST /v1/images/generations` and `POST /v1/images/edits` — use any OpenAI SDK with `base_url=\"https://gen.pollinations.ai/v1\"`.",
      "x-scalar-order": [
        "pollinations-api/tag/️-image-generation/GET/image/{prompt}",
        "pollinations-api/tag/️-image-generation/POST/v1/images/generations",
        "pollinations-api/tag/️-image-generation/POST/v1/images/edits"
      ]
    },
    {
      "name": "🎬 Video Generation",
      "description": "Generate videos from text prompts or reference images. Returns MP4.\n\n```\nhttps://gen.pollinations.ai/video/sunset%20timelapse?model=veo&duration=4\n```\n\n**Available models:** veo, seedance, seedance-pro, wan, wan-fast, grok-video-pro, ltx-2, p-video, nova-reel\n\n**Video parameters:** `duration` (seconds), `aspectRatio` (`16:9` or `9:16`), `audio` (enable soundtrack), `image` (reference frames)",
      "x-scalar-order": [
        "pollinations-api/tag/-video-generation/GET/video/{prompt}"
      ]
    },
    {
      "name": "🔊 Audio Generation",
      "description": "Text-to-speech, music generation, and audio transcription.\n\n| Endpoint | Description |\n|----------|-------------|\n| `GET /audio/{text}` | Simple URL-based TTS or music generation |\n| `POST /v1/audio/speech` | OpenAI-compatible TTS |\n| `POST /v1/audio/transcriptions` | Speech-to-text transcription |\n\n**Available voices:** alloy, echo, fable, onyx, nova, shimmer, ash, ballad, coral, sage, verse, rachel, domi, bella, elli, charlotte, dorothy, sarah, emily, lily, matilda, adam, antoni, arnold, josh, sam, daniel, charlie, james, fin, callum, liam, george, brian, bill",
      "x-scalar-order": [
        "pollinations-api/tag/-audio-generation/GET/audio/{text}",
        "pollinations-api/tag/-audio-generation/POST/v1/audio/speech",
        "pollinations-api/tag/-audio-generation/POST/v1/audio/transcriptions"
      ]
    },
    {
      "name": "🤖 Models",
      "description": "Discover available models with pricing, capabilities, and metadata. **No authentication required.**\n\n| Endpoint | Returns |\n|----------|---------|\n| `GET /v1/models` | Text models in OpenAI format (`{object: \"list\", data: [...]}`) |\n| `GET /text/models` | Text models with pricing, context window, tool support |\n| `GET /image/models` | Image & video models with capabilities and pricing |\n| `GET /audio/models` | Audio models with supported voices |",
      "x-scalar-order": [
        "pollinations-api/tag/-models/GET/v1/models",
        "pollinations-api/tag/-models/GET/image/models",
        "pollinations-api/tag/-models/GET/text/models",
        "pollinations-api/tag/-models/GET/audio/models"
      ]
    },
    {
      "name": "👤 Account",
      "description": "Manage your account, check your pollen balance, and view usage history. All endpoints require authentication.\n\n| Endpoint | Description |\n|----------|-------------|\n| `GET /account/profile` | GitHub username and profile image |\n| `GET /account/balance` | Current pollen balance |\n| `GET /account/usage` | Per-request history with costs |\n| `GET /account/usage/daily` | Daily aggregated usage for dashboards |\n| `GET /account/key` | API key validity, type, and permissions |\n\nWhen using API keys, specific permissions may be required (e.g., `account:usage`, `account:profile`).",
      "x-scalar-order": [
        "pollinations-api/tag/-account/GET/account/profile",
        "pollinations-api/tag/-account/GET/account/balance",
        "pollinations-api/tag/-account/GET/account/usage",
        "pollinations-api/tag/-account/GET/account/usage/daily",
        "pollinations-api/tag/-account/GET/account/keys",
        "pollinations-api/tag/-account/POST/account/keys",
        "pollinations-api/tag/-account/DELETE/account/keys/{id}",
        "pollinations-api/tag/-account/GET/account/key",
        "pollinations-api/tag/-account/GET/account/key/usage"
      ]
    },
    {
      "name": "📦 Media Storage",
      "description": "Content-addressed media storage. Upload and retrieve images, audio, and video by content hash.\n\n| Endpoint | Description |\n|----------|-------------|\n| `POST /upload` | Upload a file, receive a content-addressed URL |\n| `GET /{hash}` | Retrieve a previously uploaded file |\n| `GET /{hash}/metadata` | Get file metadata (hash, content type, size, uploadedAt) as JSON |\n\n**Base URL:** [media.pollinations.ai](https://media.pollinations.ai)",
      "x-scalar-order": [
        "pollinations-api/tag/-media-storage/POST/upload",
        "pollinations-api/tag/-media-storage/GET/{hash}",
        "pollinations-api/tag/-media-storage/HEAD/{hash}",
        "pollinations-api/tag/-media-storage/DELETE/{hash}"
      ]
    },
    {
      "name": "🌸 Bring Your Own Pollen",
      "description": "# 🌼 Bring Your Own Pollen (BYOP)\n\nYour users pay for their own AI usage. You pay $0.\n\n## 🔄 How It Works\n\n1. User connects — via your web app or CLI\n2. Signs in, creates a scoped API key\n3. Their pollen, your app\n\nWhy this is good:\n\n- 💸 **$0 costs** — scales to any number of users without costing you a cent\n- 🔑 **No key management** — the auth flow handles it\n- ⚖️ **Self-regulating** — everyone pays for what they use\n- 🌐 **Works everywhere** — web apps, CLIs, MCP servers, anything\n\nBoth flows land on the same authorize screen where users set model restrictions, budget, and expiry. Same key, same pollen, different entry point.\n\n## 🗝️ App Key\n\nAn **App Key** is a publishable key (`pk_...`) you create on [enter.pollinations.ai](https://enter.pollinations.ai) specifically for BYOP. It's optional but strongly recommended:\n\n| Without App Key | With App Key |\n|----------------|-------------|\n| Consent screen shows generic hostname | Consent screen shows **your app name + your GitHub** |\n| No traffic attribution | Traffic your app drives is **tracked to your account** |\n| No tier benefit | Real usage → **automatic tier upgrades** → higher pollen grants |\n\nTo create one, go to [enter.pollinations.ai](https://enter.pollinations.ai) → **Create New App Key**:\n\n![Create New App Key](https://media.pollinations.ai/aa8ca9fe3110aff7)\n\nSet the **Name** (shows on the consent screen) and **App URL** (your app's domain). The key you get back is your `client_id` (a `pk_...` publishable key; the legacy name `app_key` is still accepted).\n\nWhen users authorize, this is what they see:\n\n![Authorize Screen](https://media.pollinations.ai/b030a47e32df2b2b)\n\n## ⚙️ Web Apps (Redirect Flow)\n\n### 1. Build the Auth Link\n\nWith `client_id` (consent screen shows your app name + your GitHub):\n```\nhttps://enter.pollinations.ai/authorize?redirect_uri=https://myapp.com&client_id=pk_yourkey\n```\n\nWithout (still works, just shows the hostname):\n```\nhttps://enter.pollinations.ai/authorize?redirect_uri=https://myapp.com\n```\n\nWith restrictions:\n```\nhttps://enter.pollinations.ai/authorize?redirect_uri=https://myapp.com&client_id=pk_yourkey&scope=usage&models=flux,openai&expiry=7&budget=10\n```\n\n| Param | What it does | Example |\n|-------|-------------|---------|\n| `client_id` | Your publishable key — shows app name + author on consent screen, tracks traffic for tier upgrades | `pk_abc123` |\n| `redirect_uri` | Where users return after authorizing — receives the temp API key in the URL fragment | `https://myapp.com` |\n| `state` | Opaque value echoed back on the callback for CSRF protection | `any-random-string` |\n| `scope` | Account access (space or comma separated) | `usage keys` |\n| `models` | Restrict to specific models | `flux,openai,gptimage` |\n| `budget` | Pollen cap | `10` |\n| `expiry` | Key lifetime in days (default: 30) | `7` |\n\nLegacy names `app_key`, `redirect_url`, and `permissions` are still accepted for backwards compatibility.\n\n### 2. Handle the Redirect\n\nUser comes back with a key in the URL fragment:\n```\nhttps://myapp.com#api_key=sk_abc123xyz\n```\n\nFragment, not query param — never hits server logs. 🔒 If you passed `state`, it's echoed back: `#api_key=sk_...&state=...`. On denial the fragment is `#error=access_denied&state=...`.\n\n### 💻 Code\n\n```javascript\n// Send user to auth\nconst params = new URLSearchParams({\n  redirect_uri: location.href,\n  client_id: 'pk_yourkey', // optional — shows app name + author\n});\nwindow.location.href = `https://enter.pollinations.ai/authorize?${params}`;\n\n// Grab key from URL after redirect\nconst apiKey = new URLSearchParams(location.hash.slice(1)).get('api_key');\n\n// Use their pollen\nfetch('https://gen.pollinations.ai/v1/chat/completions', {\n  method: 'POST',\n  headers: { 'Authorization': `Bearer ${apiKey}`, 'Content-Type': 'application/json' },\n  body: JSON.stringify({ model: 'openai', messages: [{ role: 'user', content: 'yo' }] })\n});\n```\n\n## 🖥️ CLIs & Headless Apps (Device Flow)\n\nSame authorize screen, but the user opens a browser separately. Your CLI polls for the key.\n\n**Where this fits:**\n- **Discord / Telegram / WhatsApp bots** — bot DMs the code, user approves in browser, bot gets their key\n- **CLI tools** — `pollinations login` opens a browser, CLI waits for approval\n- **MCP servers** — AI agent requests access, user approves from their browser\n- **Raspberry Pi / IoT** — headless device displays a code, user approves on their phone\n- **VS Code extensions** — extension shows the code, user approves in browser\n\n```bash\n# 1. request a device code (pass your app_key as client_id for attribution)\ncurl -X POST https://enter.pollinations.ai/api/device/code \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"client_id\": \"pk_yourkey\", \"scope\": \"generate\"}'\n# → { \"device_code\": \"...\", \"user_code\": \"ABCD-1234\", \"verification_uri\": \"/device\" }\n\n# 2. tell user: \"go to enter.pollinations.ai/device and enter ABCD-1234\"\n\n# 3. poll for the key (every 5s)\ncurl -X POST https://enter.pollinations.ai/api/device/token \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"device_code\": \"...\"}'\n# pending → { \"error\": \"authorization_pending\" }\n# done    → { \"access_token\": \"sk_...\", \"token_type\": \"bearer\", \"scope\": \"generate\" }\n```\n\n## 👤 Who's Using This Key?\n\nOnce you have a key, you can check who it belongs to:\n\n```bash\ncurl https://enter.pollinations.ai/api/device/userinfo \\\n  -H 'Authorization: Bearer sk_...'\n# → { \"sub\": \"user-id\", \"name\": \"Thomas\", \"preferred_username\": \"voodoohop\", \"email\": \"...\", \"picture\": \"...\" }\n```\n\nStandard OIDC userinfo shape — works with any `sk_` or `pk_` key.\n\n---\n\n🕐 Keys expire in 30 days. Users can revoke anytime from the dashboard.\n\n[edit this doc](https://github.com/pollinations/pollinations/edit/main/BRING_YOUR_OWN_POLLEN.md) · *h/t [Puter.js](https://docs.puter.com/user-pays-model/) for the idea*",
      "x-scalar-order": []
    }
  ],
  "paths": {
    "/account/profile": {
      "get": {
        "operationId": "getAccountProfile",
        "tags": [
          "👤 Account"
        ],
        "summary": "Get Profile",
        "description": "Returns your account profile. GitHub username, profile image, current tier, and next pollen refill timestamp are always returned. Name and email are returned only when the API key has the `account:profile` permission.",
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "githubUsername": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "GitHub username if linked"
                    },
                    "image": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Profile picture URL (e.g. GitHub avatar)"
                    },
                    "tier": {
                      "type": "string",
                      "enum": [
                        "anonymous",
                        "microbe",
                        "spore",
                        "seed",
                        "flower",
                        "nectar",
                        "router"
                      ],
                      "description": "User's current tier level"
                    },
                    "nextResetAt": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Next pollen refill timestamp (ISO 8601). `null` for tiers with no refill."
                    },
                    "name": {
                      "description": "User's display name (only returned when the key has `account:profile`)",
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "email": {
                      "description": "User's email address (only returned when the key has `account:profile`)",
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "email",
                          "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "githubUsername",
                    "image",
                    "tier",
                    "nextResetAt"
                  ]
                },
                "example": {
                  "githubUsername": "janedeveloper",
                  "image": "https://avatars.example.com/jane.jpg",
                  "name": "Jane Developer",
                  "email": "jane@example.com"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "Shell",
            "source": "curl https://gen.pollinations.ai/account/profile \\\n  -H \"Authorization: Bearer YOUR_API_KEY\""
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.get(\n    \"https://gen.pollinations.ai/account/profile\",\n    headers={\"Authorization\": \"Bearer YOUR_API_KEY\"},\n)\nprofile = response.json()\nprint(profile[\"githubUsername\"])"
          },
          {
            "label": "JavaScript",
            "lang": "JavaScript",
            "source": "const response = await fetch(\n  \"https://gen.pollinations.ai/account/profile\",\n  { headers: { Authorization: \"Bearer YOUR_API_KEY\" } },\n);\nconst profile = await response.json();\nconsole.log(profile.githubUsername);"
          }
        ]
      }
    },
    "/account/balance": {
      "get": {
        "operationId": "getAccountBalance",
        "tags": [
          "👤 Account"
        ],
        "summary": "Get Balance",
        "description": "Returns the pollen balance visible to the caller. API keys with a budget always see their remaining budget (no scope needed). Session auth or API keys with the `account:usage` scope see the full account balance.",
        "responses": {
          "200": {
            "description": "Pollen balance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "balance": {
                      "type": "number",
                      "description": "Remaining pollen balance (combines tier, pack, and crypto balances)"
                    }
                  },
                  "required": [
                    "balance"
                  ]
                },
                "example": {
                  "balance": 42.5
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Permission denied - API key has no budget and is missing the `account:usage` scope"
          }
        },
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "Shell",
            "source": "curl https://gen.pollinations.ai/account/balance \\\n  -H \"Authorization: Bearer YOUR_API_KEY\""
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.get(\n    \"https://gen.pollinations.ai/account/balance\",\n    headers={\"Authorization\": \"Bearer YOUR_API_KEY\"},\n)\nprint(response.json())  # {\"balance\": 42.5}"
          },
          {
            "label": "JavaScript",
            "lang": "JavaScript",
            "source": "const response = await fetch(\n  \"https://gen.pollinations.ai/account/balance\",\n  { headers: { Authorization: \"Bearer YOUR_API_KEY\" } },\n);\nconst { balance } = await response.json();\nconsole.log(balance);"
          }
        ]
      }
    },
    "/account/usage": {
      "get": {
        "operationId": "getAccountUsage",
        "tags": [
          "👤 Account"
        ],
        "summary": "Get Usage History",
        "description": "Returns your request history with per-request details: model used, token counts, cost, and response time. Defaults to the last 30 days, supports up to 90 days via `days`, or exact day/week/month periods via `granularity` and `period`. Supports JSON and CSV export. Each response is capped at 50,000 rows. Use `before` for cursor-based pagination. Requires `account:usage` permission when using API keys.",
        "responses": {
          "200": {
            "description": "Usage records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "usage": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string",
                            "description": "Request timestamp (YYYY-MM-DD HH:mm:ss format)"
                          },
                          "type": {
                            "type": "string",
                            "description": "Request type (e.g., 'generate.image', 'generate.text')"
                          },
                          "model": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Model used for generation"
                          },
                          "api_key": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "API key identifier used (masked)"
                          },
                          "api_key_type": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Type of API key ('secret', 'publishable')"
                          },
                          "meter_source": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Billing source ('tier', 'pack', 'crypto')"
                          },
                          "input_text_tokens": {
                            "type": "number",
                            "description": "Number of input text tokens"
                          },
                          "input_cached_tokens": {
                            "type": "number",
                            "description": "Number of cached input tokens"
                          },
                          "input_audio_tokens": {
                            "type": "number",
                            "description": "Number of input audio tokens"
                          },
                          "input_image_tokens": {
                            "type": "number",
                            "description": "Number of input image tokens"
                          },
                          "output_text_tokens": {
                            "type": "number",
                            "description": "Number of output text tokens"
                          },
                          "output_reasoning_tokens": {
                            "type": "number",
                            "description": "Number of reasoning tokens (for models with chain-of-thought)"
                          },
                          "output_audio_tokens": {
                            "type": "number",
                            "description": "Number of output audio tokens"
                          },
                          "output_image_tokens": {
                            "type": "number",
                            "description": "Number of output image tokens (1 per image)"
                          },
                          "cost_usd": {
                            "type": "number",
                            "description": "Cost in USD for this request"
                          },
                          "response_time_ms": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Response time in milliseconds"
                          }
                        },
                        "required": [
                          "timestamp",
                          "type",
                          "model",
                          "api_key",
                          "api_key_type",
                          "meter_source",
                          "input_text_tokens",
                          "input_cached_tokens",
                          "input_audio_tokens",
                          "input_image_tokens",
                          "output_text_tokens",
                          "output_reasoning_tokens",
                          "output_audio_tokens",
                          "output_image_tokens",
                          "cost_usd",
                          "response_time_ms"
                        ]
                      },
                      "description": "Array of usage records"
                    },
                    "count": {
                      "type": "number",
                      "description": "Number of records returned"
                    }
                  },
                  "required": [
                    "usage",
                    "count"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Permission denied - API key missing `account:usage` permission"
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "format",
            "schema": {
              "default": "json",
              "type": "string",
              "enum": [
                "json",
                "csv"
              ]
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 100,
              "type": "number",
              "minimum": 1,
              "maximum": 50000
            }
          },
          {
            "in": "query",
            "name": "before",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "days",
            "schema": {
              "default": 30,
              "type": "integer",
              "minimum": 1,
              "maximum": 90
            }
          },
          {
            "in": "query",
            "name": "granularity",
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month"
              ]
            }
          },
          {
            "in": "query",
            "name": "period",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "Shell",
            "source": "# Get usage history (JSON)\ncurl \"https://gen.pollinations.ai/account/usage?limit=10\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\"\n\n# Export the latest 50,000 rows from the last 30 days as CSV\ncurl \"https://gen.pollinations.ai/account/usage?format=csv&days=30&limit=50000\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\" -o usage.csv"
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.get(\n    \"https://gen.pollinations.ai/account/usage\",\n    params={\"limit\": 10, \"days\": 30},\n    headers={\"Authorization\": \"Bearer YOUR_API_KEY\"},\n)\nfor record in response.json()[\"usage\"]:\n    print(f\"{record['model']}: {record['cost_usd']} pollen\")"
          }
        ]
      }
    },
    "/account/usage/daily": {
      "get": {
        "operationId": "getAccountUsageDaily",
        "tags": [
          "👤 Account"
        ],
        "summary": "Get Daily Usage",
        "description": "Returns daily aggregated usage for the requested time window, grouped by date and model. Use `days` for rolling windows or `granularity` and `period` for exact day/week/month periods. Useful for dashboards and spending analysis. Supports JSON and CSV export. Results are cached for 1 hour. Requires `account:usage` permission when using API keys.",
        "responses": {
          "200": {
            "description": "Daily usage records aggregated by date/model",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "usage": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "description": "Date (YYYY-MM-DD format)"
                          },
                          "model": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Model used"
                          },
                          "meter_source": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Billing source ('tier', 'pack', 'crypto')"
                          },
                          "requests": {
                            "type": "number",
                            "description": "Number of requests"
                          },
                          "cost_usd": {
                            "type": "number",
                            "description": "Total cost in USD"
                          }
                        },
                        "required": [
                          "date",
                          "model",
                          "meter_source",
                          "requests",
                          "cost_usd"
                        ]
                      },
                      "description": "Array of daily usage records"
                    },
                    "count": {
                      "type": "number",
                      "description": "Number of records returned"
                    }
                  },
                  "required": [
                    "usage",
                    "count"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Permission denied - API key missing `account:usage` permission"
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "format",
            "schema": {
              "default": "json",
              "type": "string",
              "enum": [
                "json",
                "csv"
              ]
            }
          },
          {
            "in": "query",
            "name": "days",
            "schema": {
              "default": 90,
              "type": "integer",
              "minimum": 1,
              "maximum": 90
            }
          },
          {
            "in": "query",
            "name": "granularity",
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month"
              ]
            }
          },
          {
            "in": "query",
            "name": "period",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "api_key_ids",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "Shell",
            "source": "curl \"https://gen.pollinations.ai/account/usage/daily?days=30\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\""
          }
        ]
      }
    },
    "/account/keys": {
      "get": {
        "operationId": "getAccountKeys",
        "tags": [
          "👤 Account"
        ],
        "summary": "List API Keys",
        "description": "List all API keys for the current user. Requires `account:keys` permission when using API keys. Secret key values are never returned.",
        "responses": {
          "200": {
            "description": "List of API keys"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Permission denied"
          }
        }
      },
      "post": {
        "operationId": "postAccountKeys",
        "tags": [
          "👤 Account"
        ],
        "summary": "Create API Key",
        "description": "Create a new API key. Requires `account:keys` permission and a secret key (sk_). The full key value is returned only once in the response. The `keys` account permission is automatically stripped from child keys to prevent escalation.",
        "responses": {
          "200": {
            "description": "Created API key with full secret"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Permission denied or publishable key"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 253,
                    "description": "Name for the API key"
                  },
                  "type": {
                    "default": "secret",
                    "description": "Key type: secret (sk_) or publishable (pk_)",
                    "type": "string",
                    "enum": [
                      "secret",
                      "publishable"
                    ]
                  },
                  "expiresIn": {
                    "description": "Expiry in seconds from now (max 365 days)",
                    "type": "integer",
                    "exclusiveMinimum": 0,
                    "maximum": 31536000
                  },
                  "allowedModels": {
                    "description": "Model IDs this key can access. null = all models",
                    "anyOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "pollenBudget": {
                    "description": "Pollen budget cap. null = unlimited",
                    "anyOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "accountPermissions": {
                    "description": "Account permissions (e.g. [\"usage\"]). \"keys\" is auto-stripped.",
                    "anyOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        }
      }
    },
    "/account/keys/{id}": {
      "delete": {
        "operationId": "deleteAccountKeysById",
        "tags": [
          "👤 Account"
        ],
        "summary": "Revoke API Key",
        "description": "Delete/revoke an API key. Requires `account:keys` permission and a secret key (sk_). Cannot revoke the key used to authenticate the request.",
        "responses": {
          "200": {
            "description": "Key revoked"
          },
          "400": {
            "description": "Cannot revoke self"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Permission denied"
          },
          "404": {
            "description": "Key not found"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ]
      }
    },
    "/account/key": {
      "get": {
        "operationId": "getAccountKey",
        "tags": [
          "👤 Account"
        ],
        "summary": "Get API Key Info",
        "description": "Returns information about the API key used in the request: validity, type (secret/publishable), expiry, permissions, and remaining budget. Useful for validating keys without making generation requests.",
        "responses": {
          "200": {
            "description": "API key status and information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "valid": {
                      "type": "boolean",
                      "description": "Whether the API key is valid and active"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "publishable",
                        "secret"
                      ],
                      "description": "Type of API key"
                    },
                    "name": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Display name of the API key"
                    },
                    "expiresAt": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Expiry timestamp in ISO 8601 format, null if never expires"
                    },
                    "expiresIn": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Seconds until expiry, null if never expires"
                    },
                    "permissions": {
                      "type": "object",
                      "properties": {
                        "models": {
                          "anyOf": [
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "description": "List of allowed model IDs, null = all models allowed"
                        },
                        "account": {
                          "anyOf": [
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "description": "List of account permissions, null = no account access"
                        }
                      },
                      "required": [
                        "models",
                        "account"
                      ],
                      "description": "API key permissions"
                    },
                    "pollenBudget": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Remaining pollen budget for this key, null = unlimited (uses user balance)"
                    },
                    "rateLimitEnabled": {
                      "type": "boolean",
                      "description": "Whether rate limiting is enabled for this key"
                    }
                  },
                  "required": [
                    "valid",
                    "type",
                    "name",
                    "expiresAt",
                    "expiresIn",
                    "permissions",
                    "pollenBudget",
                    "rateLimitEnabled"
                  ]
                },
                "example": {
                  "valid": true,
                  "type": "secret",
                  "name": "my-bot",
                  "expiresAt": null,
                  "expiresIn": null,
                  "permissions": {
                    "models": null,
                    "account": [
                      "usage"
                    ]
                  },
                  "pollenBudget": null,
                  "rateLimitEnabled": false
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key"
          }
        },
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "Shell",
            "source": "curl https://gen.pollinations.ai/account/key \\\n  -H \"Authorization: Bearer YOUR_API_KEY\""
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.get(\n    \"https://gen.pollinations.ai/account/key\",\n    headers={\"Authorization\": \"Bearer YOUR_API_KEY\"},\n)\nkey_info = response.json()\nprint(f\"Valid: {key_info['valid']}, Type: {key_info['type']}\")"
          },
          {
            "label": "JavaScript",
            "lang": "JavaScript",
            "source": "const response = await fetch(\n  \"https://gen.pollinations.ai/account/key\",\n  { headers: { Authorization: \"Bearer YOUR_API_KEY\" } },\n);\nconst keyInfo = await response.json();\nconsole.log(`Valid: ${keyInfo.valid}, Type: ${keyInfo.type}`);"
          }
        ]
      }
    },
    "/account/key/usage": {
      "get": {
        "operationId": "getAccountKeyUsage",
        "tags": [
          "👤 Account"
        ],
        "summary": "Get API Key Usage",
        "description": "Returns usage history for the API key used in the request. No scope required — a key can always read its own usage. For account-wide usage across all keys, use `/account/usage` with the `account:usage` scope.",
        "responses": {
          "200": {
            "description": "Usage records for this key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "usage": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string",
                            "description": "Request timestamp (YYYY-MM-DD HH:mm:ss format)"
                          },
                          "type": {
                            "type": "string",
                            "description": "Request type (e.g., 'generate.image', 'generate.text')"
                          },
                          "model": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Model used for generation"
                          },
                          "api_key": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "API key identifier used (masked)"
                          },
                          "api_key_type": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Type of API key ('secret', 'publishable')"
                          },
                          "meter_source": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Billing source ('tier', 'pack', 'crypto')"
                          },
                          "input_text_tokens": {
                            "type": "number",
                            "description": "Number of input text tokens"
                          },
                          "input_cached_tokens": {
                            "type": "number",
                            "description": "Number of cached input tokens"
                          },
                          "input_audio_tokens": {
                            "type": "number",
                            "description": "Number of input audio tokens"
                          },
                          "input_image_tokens": {
                            "type": "number",
                            "description": "Number of input image tokens"
                          },
                          "output_text_tokens": {
                            "type": "number",
                            "description": "Number of output text tokens"
                          },
                          "output_reasoning_tokens": {
                            "type": "number",
                            "description": "Number of reasoning tokens (for models with chain-of-thought)"
                          },
                          "output_audio_tokens": {
                            "type": "number",
                            "description": "Number of output audio tokens"
                          },
                          "output_image_tokens": {
                            "type": "number",
                            "description": "Number of output image tokens (1 per image)"
                          },
                          "cost_usd": {
                            "type": "number",
                            "description": "Cost in USD for this request"
                          },
                          "response_time_ms": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Response time in milliseconds"
                          }
                        },
                        "required": [
                          "timestamp",
                          "type",
                          "model",
                          "api_key",
                          "api_key_type",
                          "meter_source",
                          "input_text_tokens",
                          "input_cached_tokens",
                          "input_audio_tokens",
                          "input_image_tokens",
                          "output_text_tokens",
                          "output_reasoning_tokens",
                          "output_audio_tokens",
                          "output_image_tokens",
                          "cost_usd",
                          "response_time_ms"
                        ]
                      },
                      "description": "Array of usage records"
                    },
                    "count": {
                      "type": "number",
                      "description": "Number of records returned"
                    }
                  },
                  "required": [
                    "usage",
                    "count"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "API key required (this endpoint is key-auth only)"
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "format",
            "schema": {
              "default": "json",
              "type": "string",
              "enum": [
                "json",
                "csv"
              ]
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 100,
              "type": "number",
              "minimum": 1,
              "maximum": 50000
            }
          },
          {
            "in": "query",
            "name": "before",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "days",
            "schema": {
              "default": 30,
              "type": "integer",
              "minimum": 1,
              "maximum": 90
            }
          },
          {
            "in": "query",
            "name": "granularity",
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month"
              ]
            }
          },
          {
            "in": "query",
            "name": "period",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/models": {
      "get": {
        "operationId": "getGenerateV1Models",
        "tags": [
          "🤖 Models"
        ],
        "summary": "List Models (OpenAI-compatible)",
        "description": "Returns available models (text, image, audio) in the OpenAI-compatible format (`{object: \"list\", data: [...]}`). Use this endpoint if you're using an OpenAI SDK. For richer metadata including pricing and capabilities, use `/text/models`, `/image/models`, or `/audio/models` instead. When authenticated: models are filtered by API key permissions, and `paid_only` models are hidden if the account has no paid balance.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string",
                            "const": "model"
                          },
                          "created": {
                            "type": "number"
                          },
                          "input_modalities": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "output_modalities": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "supported_endpoints": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "tools": {
                            "type": "boolean"
                          },
                          "reasoning": {
                            "type": "boolean"
                          },
                          "context_length": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "id",
                          "object",
                          "created"
                        ],
                        "description": "OpenAI-compatible model object with capability metadata"
                      }
                    }
                  },
                  "required": [
                    "object",
                    "data"
                  ],
                  "description": "OpenAI-compatible list of available models."
                },
                "example": {
                  "object": "list",
                  "data": [
                    {
                      "id": "openai",
                      "object": "model",
                      "created": 1700000000,
                      "owned_by": "pollinations"
                    },
                    {
                      "id": "claude",
                      "object": "model",
                      "created": 1700000000,
                      "owned_by": "pollinations"
                    },
                    {
                      "id": "gemini",
                      "object": "model",
                      "created": 1700000000,
                      "owned_by": "pollinations"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Oh snap, something went wrong on our end. We're on it!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "const": 500
                    },
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "const": "INTERNAL_ERROR"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string",
                              "const": "Oh snap, something went wrong on our end. We're on it!"
                            },
                            {
                              "type": "string"
                            }
                          ]
                        },
                        "timestamp": {
                          "type": "string"
                        },
                        "details": {
                          "$ref": "#/components/schemas/ErrorDetails"
                        },
                        "requestId": {
                          "type": "string"
                        },
                        "cause": {}
                      },
                      "required": [
                        "code",
                        "message",
                        "timestamp",
                        "details"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "success",
                    "error"
                  ]
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "Shell",
            "source": "curl https://gen.pollinations.ai/v1/models"
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "from openai import OpenAI\n\nclient = OpenAI(\n    base_url=\"https://gen.pollinations.ai\",\n    api_key=\"YOUR_API_KEY\",\n)\n\nmodels = client.models.list()\nfor model in models.data:\n    print(model.id)"
          },
          {
            "label": "JavaScript",
            "lang": "JavaScript",
            "source": "import OpenAI from \"openai\";\n\nconst client = new OpenAI({\n  baseURL: \"https://gen.pollinations.ai\",\n  apiKey: \"YOUR_API_KEY\",\n});\n\nconst models = await client.models.list();\nmodels.data.forEach((m) => console.log(m.id));"
          }
        ]
      }
    },
    "/image/models": {
      "get": {
        "operationId": "getGenerateImageModels",
        "tags": [
          "🤖 Models"
        ],
        "summary": "List Image & Video Models",
        "description": "Returns all available image and video generation models with pricing, capabilities, and metadata. Video models are included here — check the `outputModalities` field to distinguish image vs video models. When authenticated: models are filtered by API key permissions, and `paid_only` models are hidden if the account has no paid balance.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {},
                  "description": "List of models with pricing and metadata"
                }
              }
            }
          },
          "500": {
            "description": "Oh snap, something went wrong on our end. We're on it!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "const": 500
                    },
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "const": "INTERNAL_ERROR"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string",
                              "const": "Oh snap, something went wrong on our end. We're on it!"
                            },
                            {
                              "type": "string"
                            }
                          ]
                        },
                        "timestamp": {
                          "type": "string"
                        },
                        "details": {
                          "$ref": "#/components/schemas/ErrorDetails"
                        },
                        "requestId": {
                          "type": "string"
                        },
                        "cause": {}
                      },
                      "required": [
                        "code",
                        "message",
                        "timestamp",
                        "details"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "success",
                    "error"
                  ]
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "Shell",
            "source": "curl https://gen.pollinations.ai/image/models"
          },
          {
            "label": "JavaScript",
            "lang": "JavaScript",
            "source": "const response = await fetch(\"https://gen.pollinations.ai/image/models\");\nconst models = await response.json();\nmodels.forEach((m) => console.log(`${m.id}: ${m.description}`));"
          }
        ]
      }
    },
    "/text/models": {
      "get": {
        "operationId": "getGenerateTextModels",
        "tags": [
          "🤖 Models"
        ],
        "summary": "List Text Models (Detailed)",
        "description": "Returns all available text generation models with pricing, capabilities, and metadata including context window size, supported modalities, and tool support. When authenticated: models are filtered by API key permissions, and `paid_only` models are hidden if the account has no paid balance.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {},
                  "description": "List of models with pricing and metadata"
                }
              }
            }
          },
          "500": {
            "description": "Oh snap, something went wrong on our end. We're on it!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "const": 500
                    },
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "const": "INTERNAL_ERROR"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string",
                              "const": "Oh snap, something went wrong on our end. We're on it!"
                            },
                            {
                              "type": "string"
                            }
                          ]
                        },
                        "timestamp": {
                          "type": "string"
                        },
                        "details": {
                          "$ref": "#/components/schemas/ErrorDetails"
                        },
                        "requestId": {
                          "type": "string"
                        },
                        "cause": {}
                      },
                      "required": [
                        "code",
                        "message",
                        "timestamp",
                        "details"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "success",
                    "error"
                  ]
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "Shell",
            "source": "curl https://gen.pollinations.ai/text/models"
          },
          {
            "label": "JavaScript",
            "lang": "JavaScript",
            "source": "const response = await fetch(\"https://gen.pollinations.ai/text/models\");\nconst models = await response.json();\nmodels.forEach((m) => console.log(`${m.id}: ${m.description}`));"
          }
        ]
      }
    },
    "/audio/models": {
      "get": {
        "operationId": "getGenerateAudioModels",
        "tags": [
          "🤖 Models"
        ],
        "summary": "List Audio Models",
        "description": "Returns all available audio models (text-to-speech, music generation, and transcription) with pricing, capabilities, and metadata. When authenticated: models are filtered by API key permissions, and `paid_only` models are hidden if the account has no paid balance.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {},
                  "description": "List of models with pricing and metadata"
                }
              }
            }
          },
          "500": {
            "description": "Oh snap, something went wrong on our end. We're on it!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "const": 500
                    },
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "const": "INTERNAL_ERROR"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string",
                              "const": "Oh snap, something went wrong on our end. We're on it!"
                            },
                            {
                              "type": "string"
                            }
                          ]
                        },
                        "timestamp": {
                          "type": "string"
                        },
                        "details": {
                          "$ref": "#/components/schemas/ErrorDetails"
                        },
                        "requestId": {
                          "type": "string"
                        },
                        "cause": {}
                      },
                      "required": [
                        "code",
                        "message",
                        "timestamp",
                        "details"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "success",
                    "error"
                  ]
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "Shell",
            "source": "curl https://gen.pollinations.ai/audio/models"
          },
          {
            "label": "JavaScript",
            "lang": "JavaScript",
            "source": "const response = await fetch(\"https://gen.pollinations.ai/audio/models\");\nconst models = await response.json();\nmodels.forEach((m) => console.log(`${m.id}: ${m.description}`));"
          }
        ]
      }
    },
    "/v1/chat/completions": {
      "post": {
        "operationId": "postGenerateV1ChatCompletions",
        "tags": [
          "✍️ Text Generation"
        ],
        "summary": "Chat Completions",
        "description": "Generate text responses using AI models. Fully compatible with the OpenAI Chat Completions API — use any OpenAI SDK by pointing it to `https://gen.pollinations.ai`.\n\nSupports streaming, function calling, vision (image input), structured outputs, and reasoning/thinking modes depending on the model.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "choices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "finish_reason": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "index": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 9007199254740991
                          },
                          "message": {
                            "type": "object",
                            "properties": {
                              "content": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "tool_calls": {
                                "anyOf": [
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "type": {
                                          "type": "string",
                                          "const": "function"
                                        },
                                        "function": {
                                          "type": "object",
                                          "properties": {
                                            "name": {
                                              "type": "string"
                                            },
                                            "arguments": {
                                              "type": "string"
                                            }
                                          },
                                          "required": [
                                            "name",
                                            "arguments"
                                          ]
                                        }
                                      },
                                      "required": [
                                        "id",
                                        "type",
                                        "function"
                                      ]
                                    }
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "role": {
                                "type": "string",
                                "const": "assistant"
                              },
                              "function_call": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "arguments": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "arguments",
                                      "name"
                                    ]
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "content_blocks": {
                                "anyOf": [
                                  {
                                    "type": "array",
                                    "items": {
                                      "anyOf": [
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "const": "text"
                                            },
                                            "text": {
                                              "type": "string"
                                            },
                                            "cache_control": {
                                              "$ref": "#/components/schemas/CacheControl"
                                            }
                                          },
                                          "required": [
                                            "type",
                                            "text"
                                          ]
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "const": "image_url"
                                            },
                                            "image_url": {
                                              "type": "object",
                                              "properties": {
                                                "url": {
                                                  "type": "string"
                                                },
                                                "detail": {
                                                  "type": "string",
                                                  "enum": [
                                                    "auto",
                                                    "low",
                                                    "high"
                                                  ]
                                                },
                                                "mime_type": {
                                                  "type": "string"
                                                }
                                              },
                                              "required": [
                                                "url"
                                              ]
                                            }
                                          },
                                          "required": [
                                            "type",
                                            "image_url"
                                          ]
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
[...]
